# Environment
.env

# Python cache files
__pycache__
__pycache__/


#debugger details
.vscode
.vscode/

# Ignore the virtual envrionment setup
st_venv/
st_venv1/


# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code 
.vscode/ 
../.vscode/

../.streamlit/
# PyCharm 
.idea/


# Streamlit
.streamlit/secrets.toml

.DS_Store

.devcontainer